name: Publish Image Using latest

on:
  push:
    branches:
      - main

jobs:
  push:
    name: Publish Image using latest tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'sbt'
      - name: Run tests
        run: sbt test
      - name: Assembly
        run: sbt assembly
      - name: Push the image on the registry
        uses: Ferlab-Ste-Justine/action-push-image@v2
        with:
          username: ${{ secrets.FERLAB_DOCKER_HUB_USER }}
          password: ${{ secrets.FERLAB_DOCKER_HUB_TOKEN }}
          image: ferlabcrsj/ferload
          tag_format: "latest"